body {
}

h1, h2, h3, h4, h5, .navbar-brand {
    font-family: Ubuntu, sans-serif !important;
}

.navbar-brand {
    padding: 4px !important;
}

.navbar-btn {
    margin-top: 2px !important;
    margin-bottom: 0 !important;
}

.container-fixed {
    margin: 0 auto;
    width: 1140px;
}


.color-swatch {
    width: 120px;
    text-align: center;
    font-size: 17px;
    height: 50px;
    border: 2px solid #333;
    position: relative;
}

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}


.board-overlay {
    position: absolute;
    z-index: 1000;
    width: 672px;
    height: 544px;
    background-image: url(/static/images/ld27-grid.png);
}

.board {
    border: 2px solid #444;
    width: 676px;
    height: 548px;
    border-radius: 2px;
}

.board-row {
    clear: both;
    .square {
        width: 32px;
        height: 32px;
        float: left;
        background-color: green;
    }
}

.actions-panel {
    width: 100%;
}

.sidebar {
}

.clock-display {
}

.square {
    background-image: url(/static/images/ld27-tileset.png);
}

.player-name, .other-player-name {
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
    color: white;
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
}
.player-name {
    z-index: 150;
}
.other-player-name {
    z-index: 140;
}

.player, .other-player {
    position: absolute;
    width: 32px;
    height: 32px;
    &.red.south {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -128px -32px;
    }
    &.red.north {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -128px -64px;
    }
    &.red.east {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -128px -96px;
    }
    &.red.west {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -128px -128px;
    }
    &.blue.south {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -160px -32px;
    }
    &.blue.north {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -160px -64px;
    }
    &.blue.east {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -160px -96px;
    }
    &.blue.west {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -160px -128px;
    }

    &.red.south.flag {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -192px -32px;
    }
    &.red.north.flag {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -192px -64px;
    }
    &.red.east.flag {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -192px -96px;
    }
    &.red.west.flag {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -192px -128px;
    }
    &.blue.south.flag {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -224px -32px;
    }
    &.blue.north.flag {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -224px -64px;
    }
    &.blue.east.flag {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -224px -96px;
    }
    &.blue.west.flag {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -224px -128px;
    }
}
.player {
    z-index: 200;
}
.other-player {
    z-index: 190;
}


.arrow, .other-arrow {
    position: absolute;
    width: 32px;
    height: 32px;
    &.north-south, &.south-north {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -64px -160px;
    }
    &.east-west, &.west-east {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -96px -160px;
    }
    &.west-end {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -128px -160px;
    }
    &.north-end {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -160px -160px;
    }
    &.east-end {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -160px -192px;
    }
    &.south-end {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -128px -192px;
    }
    &.south-east, &.east-south {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -64px -192px;
    }
    &.west-south, &.south-west {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -96px -192px;
    }
    &.north-west, &.west-north {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -96px -224px;
    }
    &.north-east, &.east-north {
        background-image: url(/static/images/ld27-tileset.png);
        background-position: -64px -224px;
    }
}

.arrow {
    z-index: 100;
}
.other-arrow {
    z-index: 90;
}
