h1,
h2,
h3,
h4,
h5,
.navbar-brand {
  font-family: Ubuntu, sans-serif !important;
}
.navbar-brand {
  padding: 4px !important;
}
.navbar-btn {
  margin-top: 2px !important;
  margin-bottom: 0 !important;
}
.container-fixed {
  margin: 0 auto;
  width: 1140px;
}
.color-swatch {
  width: 120px;
  text-align: center;
  font-size: 17px;
  height: 50px;
  border: 2px solid #333;
  position: relative;
}
.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-bottom-margin {
  margin-bottom: 0 !important;
}
.board-overlay {
  position: absolute;
  border: 2px solid #333;
  z-index: 1000;
  width: 676px;
  height: 548px;
  background-image: url(/static/images/ld27-grid.png);
}
.board {
  border: 2px solid #444;
  width: 676px;
  height: 548px;
  border-radius: 2px;
  clear: both;
  background-color: #333;
}
.chat-entry {
  margin-top: 8px !important;
  width: 676px !important;
}
.board-row {
  height: 32px;
  clear: both;
}
.board-row .square {
  width: 32px;
  height: 32px;
  float: left;
  background-color: green;
}
.actions-panel {
  width: 100%;
}
.square {
  background-image: url(/static/images/ld27-tileset.png);
}
.player-name,
.other-player-name {
  position: absolute;
  margin-left: -30px;
  margin-top: -20px;
  color: white;
  text-shadow: -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}
.player-name {
  z-index: 150;
  font-weight: bold;
}
.other-player-name {
  z-index: 140;
}
.player,
.other-player {
  position: absolute;
  width: 32px;
  height: 32px;
}
.player.red.south,
.other-player.red.south {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -128px -32px;
}
.player.red.north,
.other-player.red.north {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -128px -64px;
}
.player.red.east,
.other-player.red.east {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -128px -96px;
}
.player.red.west,
.other-player.red.west {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -128px -128px;
}
.player.blue.south,
.other-player.blue.south {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -160px -32px;
}
.player.blue.north,
.other-player.blue.north {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -160px -64px;
}
.player.blue.east,
.other-player.blue.east {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -160px -96px;
}
.player.blue.west,
.other-player.blue.west {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -160px -128px;
}
.player.red.south.flag,
.other-player.red.south.flag {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -192px -32px;
}
.player.red.north.flag,
.other-player.red.north.flag {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -192px -64px;
}
.player.red.east.flag,
.other-player.red.east.flag {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -192px -96px;
}
.player.red.west.flag,
.other-player.red.west.flag {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -192px -128px;
}
.player.blue.south.flag,
.other-player.blue.south.flag {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -224px -32px;
}
.player.blue.north.flag,
.other-player.blue.north.flag {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -224px -64px;
}
.player.blue.east.flag,
.other-player.blue.east.flag {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -224px -96px;
}
.player.blue.west.flag,
.other-player.blue.west.flag {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -224px -128px;
}
.player {
  z-index: 200;
}
.other-player {
  z-index: 190;
}
.arrow,
.other-arrow {
  position: absolute;
  width: 32px;
  height: 32px;
}
.arrow.north-south,
.other-arrow.north-south,
.arrow.south-north,
.other-arrow.south-north {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -64px -160px;
}
.arrow.east-west,
.other-arrow.east-west,
.arrow.west-east,
.other-arrow.west-east {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -96px -160px;
}
.arrow.west-end,
.other-arrow.west-end {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -128px -160px;
}
.arrow.north-end,
.other-arrow.north-end {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -160px -160px;
}
.arrow.east-end,
.other-arrow.east-end {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -160px -192px;
}
.arrow.south-end,
.other-arrow.south-end {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -128px -192px;
}
.arrow.south-east,
.other-arrow.south-east,
.arrow.east-south,
.other-arrow.east-south {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -64px -192px;
}
.arrow.west-south,
.other-arrow.west-south,
.arrow.south-west,
.other-arrow.south-west {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -96px -192px;
}
.arrow.north-west,
.other-arrow.north-west,
.arrow.west-north,
.other-arrow.west-north {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -96px -224px;
}
.arrow.north-east,
.other-arrow.north-east,
.arrow.east-north,
.other-arrow.east-north {
  background-image: url(/static/images/ld27-tileset.png);
  background-position: -64px -224px;
}
.arrow {
  z-index: 100;
}
.other-arrow {
  z-index: 90;
}
