{% extends "base.html" %}
{% load custom_tags %}
{% block title %}Play that Game{% endblock %}

{% block head %}
{% endblock %}

{% block goesinfoot %}
{% endblock %}

{% block body_class %}game{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3 sidebar">
            <a href="{% url 'game' %}"><img src="{{ STATIC_URL }}images/logo.png" alt="" /></a>
            <ul>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>

            <h4>Next 10 seconds in:</h4>
            <div class="clock-display" data-bind="text: clockDisplay"></div>
        </div>
        <div class="col-md-7">
            <div class="board-overlay"></div>
            <div class="board">
            {% for row in rows %}
                <div class="board-row">
                    {% for square in row %}
                        <div class="square" style="
                            background-position-x: {{ square.get_css_offset_x }};
                            background-position-y: {{ square.get_css_offset_y }}"

                            data-bind="
                            attr: {
                                'data-col': {{ square.col }},
                                'data-row': {{ square.row }}
                            }
                            ">
                            {% if square.col == request.user.col and square.row == request.user.row %}
                                <div class="player {{ request.user.direction }} {{ request.user.team }}">
                                </div>
                            {% endif %}
                            <div class="other-player">
                            </div>
                            <div class="arrow">
                            </div>
                            <div class="other-arrow">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>

        </div>
        <div class="col-md-2 sidebar">
            <!-- ko foreach: actions -->
            <button type="button" class="btn btn-block btn-primary btn-action" data-bind="
                click: $root.chooseAction,
                html: $root.getActionButtonContent(icon) + name,
                attr: {
                    'data-action': which,
                    'data-seconds': seconds,
                    'data-stamina': stamina
                }

                "><span data-bind=""></span></button>
            <!-- /ko -->
            <hr />
            <h4 data-bind="visible: $root.chosenActions().length > 0">Actions for the next 10 seconds:</h4>

            <div class="actions-panel" data-bind="foreach: chosenActions">
                <button class="btn btn-block btn-success" data-bind="
                    html: $root.getActionButtonContent(icon) + name,
                    click: $root.cancelAction
                    ">
                </button>
                 
            </div>
            <h4><span data-bind="text: secondsRemaining"></span> Seconds Left</h4>
        </div>
    </div>
</div>

{% endblock %}
