{% extends "base.html" %}
{% load custom_tags %}
{% block title %}Play that Game{% endblock %}

{% block head %}
<style>
.navbar {
    margin-bottom: 4px !important;
}
{% if request.user.col < 25 %}
    .board-row {
        float: right;
    }
{% endif %}
</style>
{% endblock %}

{% block goesinfoot %}
{% endblock %}

{% block body_class %}game{% endblock %}

{% block game_toolbar %}
<button type="button" class="btn navbar-btn btn-lg pull-right" data-bind="
    css: {
        'btn-success': clockSeconds() > 15,
        'btn-warning': clockSeconds() > 5 && clockSeconds() <= 15,
        'btn-danger': clockSeconds() <= 5 && clockSeconds() >= 0,
        'btn-primary': clockSeconds() < 0
    },
    text: clockDisplay
    "></button>

{% endblock %}

{% block content %}

<div class="container-fixed">
    <div class="row">
        <div class="col-md-3 sidebar">
            <img src="{{ STATIC_URL }}images/level.png" alt="" />
            <h4>Heard in the last 10 seconds:</h4>
            <div class="well" style="height: 156px; overflow-y: scroll;">
                {% for announcement in announcements %}
                <p><strong>Announcer</strong>: {{ announcement.text }}</p>
                {% endfor %}


                <!-- ko foreach: otherPlayers -->
                    <!-- ko if: last_chat_message != '' -->
                    <p><strong data-bind="text: username"></strong>: <span data-bind="text: last_chat_message"></span></p>
                    <!-- /ko -->
                <!-- /ko -->

                <!-- ko if: $root.account() && $root.account().last_chat_message != '' -->
                <p><strong data-bind="text: $root.account().username"></strong>: <span data-bind="text: $root.account().last_chat_message"></span></p>
                <!-- /ko -->
            </div>
        </div>
        <div class="col-md-7">
            <div class="board-overlay"></div>
            <div class="board">
                {% for row in rows %}
                    <div class="board-row">
                        {% for square in row %}
                            <div class="square" style="
                                background-position-x: {{ square.get_css_offset_x }};
                                background-position-y: {{ square.get_css_offset_y }}"

                                data-bind="
                                attr: {
                                    'data-col': {{ square.col }},
                                    'data-row': {{ square.row }}
                                }
                                ">
                                {% if square.col == request.user.col and square.row == request.user.row %}
                                <div class="player-name">{{ request.user.username }} ({{ request.user.flags_gotten }}f,{{ request.user.enemies_tagged }}t)</div>
                                <div class="player {{ request.user.direction }} {{ request.user.team }}{% if request.user.has_flag %} flag{% endif %}">
                                    </div>
                                {% endif %}
                                <div class="other-player-name"></div>
                                <div class="other-player"></div>
                                <div class="arrow"></div>
                                <div class="other-arrow"></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <input class="form-control chat-entry" placeholder="Type chat messages here to be said during the next 10 seconds" type="text" data-bind="visible: clockSeconds() > 0, value: $root.currentChatMessage, valueUpdate: 'keyup'" maxlength="75" />

        </div>
        <div class="col-md-2 sidebar" style="padding-left: 30px">
            <!-- ko if: clockSeconds() > 0 -->
            <div class="btn-group-vertical" style="width: 100%" data-bind="foreach: actions">
                <button type="button" class="btn btn-primary btn-action" data-bind="
                    click: $root.chooseAction,
                    html: $root.getActionButtonContent(icon) + name,
                    attr: {
                        'data-action': which,
                        'data-seconds': seconds,
                        'data-stamina': stamina
                    }

                    "></button>
            </div>
            <h4><span data-bind="text: secondsRemaining"></span> Seconds To Fill</h4>

            <div class="actions-panel btn-group-vertical" data-bind="foreach: chosenActions">
                <button class="btn btn-block btn-sm btn-success" data-bind="
                    html: $root.getActionButtonContent(icon) + name,
                    click: $root.cancelAction
                    ">
                </button>
            </div>
            <h4>Stamina: <span data-bind="text: $root.staminaRemaining"></span></h4>
            <!-- /ko -->
        </div>
    </div>
</div>

{% endblock %}
