{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}How To Play{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>How To Play Capture the Massively Multiplayer Online Flag!</h1>
            <p>Please watch this carefully crafted video for instructions on how to play CtMMOF.</p>
            <iframe style="margin: 30px 0" width="560" height="315" src="//www.youtube.com/embed/JNnUSbanP_c" frameborder="0" allowfullscreen></iframe>
            <a class="btn btn-lg btn-success pull-right" href="{% url 'game' %}">Got it, take me to the game!</a>
        </div>
    </div>
</div>
{% endblock %}


