{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}How To Play{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>How To Play Capture the Massively Multiplayer Online Flag!</h1>
            <p>Please watch this carefully crafted video for instructions on how to play CtMMOF.</p>
            <object bgcolor='#000000' data='http://www.twitch.tv/widgets/archive_embed_player.swf' height='378' id='clip_embed_player_flash' type='application/x-shockwave-flash' width='620'><param name='movie' value='http://www.twitch.tv/widgets/archive_embed_player.swf'><param name='allowScriptAccess' value='always'><param name='allowNetworking' value='all'><param name='allowFullScreen' value='true'><param name='flashvars' value='archive_id=451507444&amp;start_volume=25&amp;channel=dvcolgan&amp;auto_play=false&amp;title=Ludum%2BDare%2B53%2BHour%2BMEGASTREAM-Behold%2Bas%2BDVColgan%2Battempts%2Bto%2Bmake%2Ba%2BMMO%2BWebsite%2BGame%2BThing%2Bin%2B48%2Bhours%2Busing%2BPython%252FDjango%2Band%2BCoffeescript'></object><br><a href="http://www.twitch.tv/dvcolgan" class="trk" style="padding:2px 0px 4px; display:block; width: 320px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center;">Watch live video from dvcolgan on TwitchTV</a>

            <a class="btn btn-lg btn-success pull-right" href="{% url 'game' %}">Got it, take me to the game!</a>
        </div>
    </div>
</div>
{% endblock %}


